doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css", integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r", crossorigin="anonymous")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="/public/css/templates-styles.css")
    link(rel="stylesheet", href="/public/css/site.css")
    link(rel="stylesheet", href="/public/css/bootstrap-social.css")
    link(rel="icon", href="/public/img/favicon.ico")
    block styles
  body
    nav.navbar.navbar-default.navbar-fixed-top
      div.container
        div.navbar-header
          button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/")
            img(alt="Blog" src="/public/img/brand.png", width=20, height=20)

        div.collapse.navbar-collapse#bs-example-navbar-collapse-1
          if user
            ul.nav.navbar-nav
              li
                a(href="/post/create") Create new post
              li
                a(href="/account/profile/" + user._id) Your profile
            ul.nav.navbar-nav.navbar-right
              li
                a.btn-link(href="/account/logout") Logout
          else
            ul.nav.navbar-nav.navbar-right
              li
                a.btn-link(href="/account/login") Login
          form.navbar-form.navbar-right(role="search", action="/search/title")
            div.form-group
              div.input-group
                input.form-control(name="query", type="text", placeholder="Search", required="")
                span.input-group-btn
                  button.btn.btn-default(type="submit") Search

    div.container
      block content

    footer.footer
      div.container
        p.text-muted.text-center Node JS training blog. ©2016

    block scripts
      script(src="https://code.jquery.com/jquery-2.2.0.min.js")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")

