extends ../shared/layout

block content
  form.form-signin(action="/account/login", method="POST")
    h2.for-signin-heading Please sign in
    input.form-control#email-input(name="email", type="email", placeholder="Email address", required="" autofocus="")
    input.form-control#input-password(name="password", type="password", placeholder="Password", required="")

    button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign in

    div.text-muted.text-center You can
      a(href="/account/registration")  create account
      |  Or sign in with socials

    a.btn.btn-block.btn-social.btn-twitter(href="/account/login/twitter")
      i.fa.fa-twitter
      |Sign in with Twitter

    a.btn.btn-block.btn-social.btn-facebook(href="/account/login/facebook")
      i.fa.fa-facebook
      |Sign in with Facebook

    a.btn.btn-block.btn-social.btn-google(href="/account/login/google")
      i.fa.fa-google-plus
      |Sign in with Google+

    a.btn.btn-block.btn-social.btn-vk(href="/account/login/vkontakte")
      i.fa.fa-vk
      |Sign in with Vkontakte
