extends ../shared/layout

block content

  if user && user._id.equals(profile._id)
    form.form-horizontal(action="/account/profile", method="POST")
      div.form-group
        label.col-lg-2.control-label Change your name
        div.col-lg-5
          input.form-control#name-input(name="name", type="text", placeholder="Your name", required="" value=profile.name)
          input(type="hidden", name="id", value = profile._id)
      div.form-group
        div.col-lg-offset-2.col-lg-10
          button.btn.btn-lg.btn-primary(type="submit") Update profile

  else
    h1 #{profile.name}

  each post in posts
    div.post
      h2
        a(href="/post/view/" + post._id)= post.title
      p.text-muted #{ utils.moment(post.date).format("MMMM Do YYYY")}, by
        a(href="/account/profile/" + post.author._id)  #{profile.name}
      p= post.content

      if user && user._id.equals(profile._id)
        a.btn.btn-success(href="/post/edit/" + post._id) Edit
    hr