extends ../shared/layout

block content
  if error
    div.alert.alert-danger.alert-dismissible(role="alert")
      .button.close(type="button", data-dismiss="alert", aria-label="Close")
        span(aria-hidden="true") &times;
      strong= error

  form.form-signup(action="/account/registration", method="POST")
    h2.for-signin-heading Please fill all fields
    input.form-control#name-input(name="name", type="text", placeholder="Your name", required="" autofocus="")
    input.form-control#email-input(name="email", type="email", placeholder="Email address", required="")
    input.form-control#input-password(name="password", type="password", placeholder="Password", required="")
    input.form-control#input-repassword(name="repassword", type="password", placeholder="Confirm Password", required="")

    button.btn.btn-lg.btn-success.btn-block(type="submit") Sign up