extends ../shared/layout

block content
  div.form-group
    img#img-thumbnail.img-thumbnail(alt="Post image", src="http://placehold.it/250x250/fff", width=250, height=250)
    div.fileUpload.btn.btn-success
      .span Upload post image
      input#upload.upload(type="file")
  form(action="/post/create", method="POST")
    div.form-group
      label(for="title") Title
      input#title.form-control(name="title", type="text", placeholder="title", required="", autofocus="")
    div.form-group
      label(for="content") Content
      textarea#content.form-control(name="content", placeholder="content", required="", rows="10")
    input#img64(name="image", type="hidden")
    button.btn.btn-primary(type="submit") Create post

block append scripts
  script(src="/public/js/imageUploader.js")