extends ../shared/layout

block content
  div.form-group
    img#img-thumbnail.img-thumbnail(alt="Post image", src="#{image || 'http://placehold.it/250x250/fff'}", width=250, height=250)
    div.fileUpload.btn.btn-success
      .span Change post image
      input#upload.upload(type="file")
  form.form-group(action="/post/edit", method="POST")
    div.form-group
      label(for="title") Title
      input#title.form-control(name="title", type="text", placeholder="title", value=title, required="", autofocus="")
    div.form-group
      label(for="content") Content
      textarea#content.form-control(name="content", placeholder="content", required="", rows="10")= content
    input#img64(name="image", type="hidden")
    input(name="id" type="hidden" value=_id)
    button.btn.btn-primary(type="submit") Update post
  form.ind(action="/post/delete", method="POST")
    input(name="id" type="hidden" value=_id)
    button.btn.btn-danger.right(type="submit") Delete post

block append scripts
  script(src="/public/js/imageUploader.js")