extends ../shared/layout.jade

block content
  each post in posts
    div.post
      h2
        a(href="/post/view/" + post._id)= post.title
      p.text-muted #{ utils.moment(post.date).format("MMMM Do YYYY")}, by
        a(href="/account/profile/" + post.author._id)  #{post.author.name}
      p= post.content
      hr