extends ../shared/layout

block content
  div.post
    h2= title
    p.text-muted #{utils.moment(date).format("MMMM Do YYYY")}, by
      a(href="/account/profile/" + author._id)  #{author.name}
    div.clearfix.form-group
      img.img-thumbnail.post-img(src="#{image || 'http://placehold.it/250x250/fff'}", width=250, height=250)
      p.post-content #{content}

    div#rating
      span(data-bind="starRating: rating")
      span Rating: #{rating || "This post wasn't rated by anyone!"}
    hr

    if user
      form.col-lg-4.form-group#form(action="/comment/add", method="POST")
        input#post-id(name="postId", type="hidden", value=_id)
        textarea.form-control.form-group(name="content", placeholder="Write comment...", row=3)
        button.btn.btn-primary(type="submit") Comment
        a#comment-notify.btn.btn-warning(href="#") New comments
    ul.col-lg-8.list-unstyled
      each comment in comments
        li
          div.alert.alert-info.alert-dismissible
            if user && user._id.equals(comment.author._id)
              form(action="/comment/remove", method="POST", data-remove="")
                input(name="commentId", type="hidden", value=comment._id)
                button.close(type="submit") &times;
            p #{utils.moment(comment.date).format("DD.MM.YY")}, by
              a(href="/account/profile/" + comment.author._id)  #{comment.author.name}
            p= comment.content

    div#notify.alert.notify(role="alert")
      button.close(type="button", data-dismiss="alert", aria-label="Close")
        span(aria-hidden="true") &times;
      span#alert-msg


block append scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/public/js/notify.js")
  script(src="/public/js/starRating.js")
  script.
    window.initRating("#{rating}");

    var newCommentCount = 0;
    var removedCount = 0;
    var socket = window.io();
    var $commentNotify = $("#comment-notify");

    $commentNotify.on("click", function () {
      document.location.reload(true);
    });

    function resolveNotify() {
      $commentNotify.show();
      var message = "";
      if (newCommentCount) {
        message += "New comments: +" + newCommentCount;
      }
      if (removedCount) {
        message += " Removed comments: -" + removedCount;
      }
      $commentNotify.text(message);
    }

    socket.on("comment:new", function () {
      newCommentCount++;
      resolveNotify();
    });

    socket.on("comment:removed", function () {
      removedCount++;
      resolveNotify();
    });

    $("#form").on("submit", function(){socket.disconnect()});
    $("[data-remove]").on("submit", function(){socket.disconnect()});
