.post {
    margin-bottom: 5em;
}

.ind {
    margin-top: 1em;
}

.post-content {
    text-align: justify;
}

.post-img {
    float: left;
    margin-right: 1em;
}

.notify {
    display: none;
    width: 300px;
    position: fixed;
    left: 20px;
    bottom: 50px;
}

#comment-notify {
    float: right;
    display: none;
}

.error-template {
    padding: 10em;
    text-align: center;
}
