/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.form-signin,
.form-signup {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signup .form-signin-heading {
    margin: 1em 0;
}

.form-signin .form-control,
.form-signup .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus,
.form-signup .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signup input:not(:last-of-type) {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signup input:not(:first-of-type) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -1px;
}

.form-signup input:last-of-type {
    margin-bottom: 1em;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.starRating span {
    width: 24px;
    height: 24px;
    display: inline-block;
    cursor: pointer;
}

.starRating span:before {
    font-family: FontAwesome, serif;
    color: #ddd;
    content: "\f005";
}

.starRating span.hoverChosen:before,
.starRating span.chosen:before{
    color: #FFD700;
}
